* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

header {
  margin: 44px 0 144px 76px;
}

.link_header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989d9c;
  cursor: pointer;
  margin-right: 23px;
}

.button_header {
  background-color: #665ae1;
  border-radius: 20.5px;
  width: 130px;
  height: 41px;
  border: none;
  cursor: pointer;
}

.img-logo {
  width: 568;
  height: 500;
  margin-left: 125px;
  display: inline-block;
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
}

p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 515px;
  color: #848484;
  margin-top: 32px;
  margin-bottom: 65px;
}

.button_main {
  width: 239px;
  height: 64px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #adff00;
  filter: drop-shadow(0px 4px 4px 0px #00000040);
  font-weight: 700;
  font-size: 28px;
  line-height: 34.13px;
  color: #000000;
}

@media screen and (max-width: 800px) {
  header {
    display: none;
    margin: 0;
    padding: 0;
  }

  main {
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .img-logo {
    max-width: 90%;
    height: 317px;
    margin-top: 149px;
    margin-left: 14px;
    margin-right: 22px;
    margin-bottom: 24px;
    position: static;
  }

  section {
    display: block;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    margin: 0 63px;
  }

  h1 {
    width: 263px;
    height: 52px;
    font-weight: 900;
    font-size: 50px;
    line-height: 60.95px;
    letter-spacing: 0%;
    margin-bottom: 7px;
  }

  h2 {
    width: 232px;
    height: 37px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
    letter-spacing: 0%;
    margin-bottom: 17px;
  }

  p {
    display: none;
  }

  .button_main {
    width: 239px;
    height: 64px;
    border-radius: 50px;
  }
}
